[Unit]
Description=Acu-rite weather bridge reader
After=network.target

[Service]
EnvironmentFile=/home/ted/proj/tHome/systemd/tHome.env
Type=simple
User=ted
ExecStart=/home/ted/proj/tHome/bin/tHome-acurite.py --log /var/log/tHome/acurite.log --configDir /home/ted/proj/tHome/conf

[Install]
WantedBy=multi-user.target


